
a.internal-link[data-link-score$="x" ]::after{
    content: " |⭐ " 
}
a.internal-link[data-link-score$="xx"]::after{
    content: " |⭐️⭐️ " 
}
a.internal-link[data-link-score$="xxx"]::after{
    content: " |⭐️⭐️⭐️ " 
}
a.internal-link[data-link-score$="xxxx"]::after{
    content: " |⭐️⭐️⭐️⭐️ " 
}
a.internal-link[data-link-score$="xxxxx"]::after{
    content: " |⭐️⭐️⭐️⭐️⭐ " 
}

